:host {
	@apply tw-w-full tw-h-10 tw-bg-[#2F0D41];
	@apply tw-grid tw-rounded-[5px] tw-overflow-hidden;
	grid-template-columns: 40px 1fr 40px;
}

input {
	background-color: rgba($color: #000000, $alpha: 0);
	@apply tw-border-none tw-text-center tw-text-base tw-text-[#EBEBEB];
}

button {
	@apply tw-flex tw-items-center tw-justify-center hover:tw-bg-[#654e7124];
	transition: 0.3s;
}
