:host {
	@apply tw-w-full tw-h-10 tw-bg-border-second;
	@apply tw-grid tw-rounded-[5px] tw-overflow-hidden;
	grid-template-columns: 36px 1fr 36px;
}

input {
	background-color: rgba($color: #000000, $alpha: 0);
	@apply tw-border-none tw-text-center tw-text-base tw-text-text tw-p-0;
}

button {
	@apply tw-flex tw-items-center tw-justify-center hover:tw-bg-[#654e7124];
	transition: 0.3s;
}
