<section class="qm-block qm-block_margined">
	<h2 class="qm-block__title">FAQ</h2>

	<div class="tw-grid tw-gap-5 tw-mx-auto qm-block__content">
		@for (panel of expConfig; track $index) {
			<mat-expansion-panel
				class="card"
				[hideToggle]="true"
				(opened)="panel.open = true"
				(closed)="panel.open = false"
			>
				<mat-expansion-panel-header class="tw-flex tw-justify-between">
					<mat-panel-title class="tw-text-start"> {{ panel.title }}</mat-panel-title>
					<mat-panel-description class="tw-flex tw-justify-end tw-max-w-fit">
						<div class="tw-relative tw-w-10 tw-h-10">
							<button class="qm-button">
								<mat-icon svgIcon="plus" [ngClass]="!panel.open ? 'visible' : 'hidden'" />
								<mat-icon svgIcon="minus" [ngClass]="panel.open ? 'visible' : 'hidden'" />
							</button>
						</div>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<p class="libre-franklin">{{ panel.description }}</p>
			</mat-expansion-panel>
		}
	</div>
</section>
