<section class="tw-text-text tw-pb-24 tw-mx-5 md:tw-mx-0">
	<div class="tw-max-w-[840px] tw-mx-auto tw-text-center">
		<h2 class="tw-text-3xl tw-text-text tw-mb-10">FAQ</h2>

		<div class="tw-flex tw-flex-col tw-gap-5">
			<mat-expansion-panel
				class="card"
				*ngFor="let panel of expConfig"
				[hideToggle]="true"
				(opened)="panel.open = true"
				(closed)="panel.open = false"
			>
				<mat-expansion-panel-header class="tw-flex tw-justify-between">
					<mat-panel-title class="tw-text-start"> {{ panel.title }}</mat-panel-title>
					<mat-panel-description class="tw-flex tw-justify-end tw-max-w-fit">
						<button *ngIf="panel.open" mat-mini-fab color="primary">
							<mat-icon svgIcon="minus"></mat-icon>
						</button>

						<button *ngIf="!panel.open" mat-mini-fab color="primary">
							<mat-icon svgIcon="plus"></mat-icon>
						</button>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<p>{{ panel.description }}</p>
			</mat-expansion-panel>
		</div>
	</div>
</section>
