<footer>
	<div class="qm-block__content">
		<div class="tw-grid tw-gap-6">
			<img ngSrc="/assets/logo.webp" priority alt="q-market" width="240" height="40" />
			<p class="designed md:tw-block tw-hidden">
				Designed by
				<a
					href="https://vk.com/cactusweb"
					href="https://discord.gg/DkzbcX9qDN"
					rel="noopener"
					target="_blank"
				>
					cactus.web</a
				>
			</p>
		</div>

		<div class="tw-flex tw-gap-5 tw-justify-between">
			<a
				href="https://discord.gg/qmarket"
				target="_blank"
				rel="noopener"
				class="qm-button"
				aria-label="discord server"
				matRipple
				matRippleColor="#654e7140"
				(click)="reachGoals(DS_YM_GOAL)"
			>
				<mat-icon svgIcon="discord" />
			</a>
			<a
				href="https://twitter.com/QMarket_"
				target="_blank"
				rel="noopener"
				class="qm-button"
				aria-label="twitter"
				matRipple
				matRippleColor="#654e7140"
				(click)="reachGoals(X_YM_GOAL)"
			>
				<mat-icon svgIcon="twitter" />
			</a>
			<a
				href="https://t.me/Moverwhale"
				target="_blank"
				rel="noopener"
				class="qm-button"
				aria-label="telegram"
				matRipple
				matRippleColor="#654e7140"
				(click)="reachGoals(TG_YM_GOAL)"
			>
				<mat-icon svgIcon="telegram" />
			</a>
		</div>

		<p class="designed md:tw-hidden tw-block tw-text-center">
			Designed by
			<a
				href="https://vk.com/cactusweb"
				href="https://discord.gg/DkzbcX9qDN"
				rel="noopener"
				target="_blank"
			>
				cactus.web</a
			>
		</p>
	</div>
</footer>
