<footer
	class="tw-bg-[#2F0D4133] tw-h-fit tw-border-solid tw-border-t tw-border-t-border-second tw-mx-5 md:tw-mx-0 tw-pt-5 tw-pb-8"
>
	<div
		class="tw-h-full tw-mx-auto tw-max-w-[840px] tw-flex md:tw-justify-between tw-items-center tw-flex-col md:tw-flex-row tw-gap-10"
	>
		<img src="assets/images/logo.png" alt="q-market" />

		<div class="tw-flex tw-gap-5">
			<button mat-fab color="primary">
				<mat-icon svgIcon="discord"></mat-icon>
			</button>
			<button mat-fab color="primary">
				<mat-icon svgIcon="twitter"></mat-icon>
			</button>
			<button mat-fab color="primary">
				<mat-icon svgIcon="telegram"></mat-icon>
			</button>
		</div>
	</div>
</footer>
