<div class="card">
	<div class="card__header">
		<img
			[ngSrc]="'assets/products/' + data.logo"
			width="63"
			height="63"
			loading="lazy"
			alt=""
			class="card__img"
			aria-hidden="true"
		/>
		<div class="card__title-container">
			<h3 class="tw-text-xl tw-leading-5 tw-font-normal">{{ data.name | uppercase }}</h3>
			<p class="card__subtitle libre-franklin">
				{{ data.details | uppercase }}
			</p>
		</div>
	</div>

	<p class="price">
		<span class="price__amount">
			{{ data.price }}
		</span>
		<span class="price__per"> /{{ data.per }} </span>
	</p>

	<ul class="features">
		@for (feature of data.description; track $index) {
			<li class="features__item">
				{{ feature }}
			</li>
		}
	</ul>

	<button
		class="qm-button tw-w-full tw-mt-auto"
		(click)="openDialog()"
		type="button"
		aria-label="Open purchase form"
	>
		Purchase
	</button>
</div>
