<div class="card">
	<div class="card__header">
		<img
			[ngSrc]="product.img"
			width="63"
			height="63"
			loading="lazy"
			alt=""
			class="card__img"
			aria-hidden="true"
		/>
		<div class="card__title-container">
			<h3 class="tw-text-xl tw-leading-5 tw-font-normal">
				{{ product.name | uppercase }}
			</h3>
			<p class="card__subtitle libre-franklin">
				{{ product.description | uppercase }}
			</p>
		</div>
	</div>

	<p class="price">
		<span class="price__amount"> ${{ product.price }} </span>
		<span class="price__per"> /{{ product.per }} </span>
	</p>

	<ul class="features">
		@for (feature of product.features; track $index) {
			<li class="features__item">
				{{ feature }}
			</li>
		}
	</ul>

	<button
		class="qm-button tw-w-full tw-mt-auto"
		(click)="openDialog()"
		type="button"
		aria-label="Open purchase form"
		[disabled]="product.sold"
	>
		@if (!product.sold) {
			Add to cart
		} @else {
			Sold Out
		}
	</button>
</div>
