<div class="card">
	<div class="card__header">
		<img
			[ngSrc]="product.img"
			width="63"
			height="63"
			loading="lazy"
			alt=""
			class="card__img"
			aria-hidden="true"
		/>
		<div class="card__title-container">
			<h3 class="tw-text-xl tw-leading-5 tw-font-normal">
				{{ product.name | uppercase }}
			</h3>
			<p class="card__subtitle libre-franklin">
				{{ product.description | uppercase }}
			</p>
		</div>
	</div>

	<p class="price">
		<span class="price__amount"> ${{ product.price }} </span>
		<span class="price__per"> /{{ product.per }} </span>
	</p>

	<ul class="features">
		@for (feature of product.features; track $index) {
			<li class="features__item">
				{{ feature }}
			</li>
		}
	</ul>

	<div class="action-container action-container_{{ counter.value === 0 ? 'btn' : 'counter' }}">
		<div class="counter-container" [attr.aria-hidden]="counter.value === 0">
			<qm-counter [formControl]="counter" />
			<button aria-label="Open basket" matRipple matRippleColor="#654e7140" type="button">
				<img
					ngSrc="/assets/icons/basket-violet.svg"
					width="24"
					height="24"
					priority="lazy"
					aria-hidden="true"
					alt=""
				/>
			</button>
		</div>

		<button
			class="qm-button tw-w-full tw-mt-auto"
			(click)="addToCart()"
			type="button"
			matRipple
			aria-label="Open purchase form"
			[attr.aria-hidden]="counter.value! > 0"
			[disabled]="product.sold"
			matRipple
			matRippleColor="#654e7140"
		>
			@if (!product.sold) {
				Add to cart
			} @else {
				Sold Out
			}
		</button>
	</div>
</div>
