body {
	* {
		box-sizing: border-box;
	}

	button.mat-mdc-fab {
		border-radius: 5px !important;
		background-color: inherit;
		border: 1px solid #b12eff;
		height: 40px;

		&:hover {
			background-color: #b12eff33;
		}
	}

	button.mat-mdc-mini-fab {
		border-radius: 5px !important;
		background-color: inherit;
		border: 1px solid #b12eff;
		height: 40px;
		width: 40px;

		&:hover {
			background-color: #b12eff33;
		}
	}

	button.mat-mdc-button {
		border-radius: 5px !important;
		background-color: inherit;
		border: 1px solid #b12eff;
		height: 40px;
		color: #ebebeb !important;

		padding-left: 36px !important;
		padding-right: 36px !important;

		font-family: 'Questrial', sans-serif !important;

		&:hover {
			background-color: #b12eff33;
		}
	}

	.mat-mdc-dialog-surface {
		border-radius: 20px !important;
		background-color: #0f0512 !important;
	}

	input {
		background-color: #0f051299;
		height: 40px;
		border-radius: 4px;
		border: none;
		color: #ebebeb;
		padding-left: 10px;
	}

	input::placeholder {
		color: #ebebeb;
		opacity: 30%;
	}

	input:focus {
		outline: #b12eff 1px solid !important;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}

.card {
	@apply tw-bg-main tw-bg-gradient-to-r tw-from-[#2F0D414D] tw-to-[#2F0D4199] tw-text-text tw-border tw-border-solid tw-border-border-second tw-rounded-2xl;
}
