<section class="qr-block__content">
	<h1>
		<span>We are a store for</span>
		<br />
		<span class="tw-text-second"> quality accounts and services </span>
	</h1>
	<p class="libre-franklin">
		Our team has been helping clients increase their profit without spending time on consumables for
		over 3 years.
	</p>

	<button class="qm-button" (click)="onJoinDiscord()" [disabled]="loading$ | async">
		@if (!(loading$ | async)) {
			<mat-icon svgIcon="discord" />
			Join Discord
		} @else {
			...
		}
	</button>
</section>
