<section class="tw-text-text tw-py-24">
	<div class="tw-max-w-[840px] tw-mx-auto tw-text-center tw-flex tw-flex-col tw-items-center">
		<h1 class="tw-text-5xl">
			<span>We are a store for</span><br /><span class="tw-text-second"
				>quality accounts and services</span
			>
		</h1>
		<h2 class="tw-text-lg tw-mt-5">
			Our team has been helping clients increase their profit<br />
			without spending time on consumables for over 3 years.
		</h2>

		<div class="tw-flex tw-gap-3 tw-mt-7">
			<button class="tw-text-lg" mat-button>
				<mat-icon svgIcon="discord"></mat-icon>Join Discord
			</button>
		</div>
	</div>
</section>
