<section class="tw-text-text tw-pt-24">
	<div
		class="tw-max-w-[840px] tw-mx-auto tw-text-center tw-flex tw-flex-col tw-items-center tw-px-5 md:tw-px-0"
	>
		<h1 class="tw-text-2xl tw-leading-6 md:tw-text-5xl md:tw-leading-[48px]">
			<span>We are a store for</span><br /><span class="tw-text-second"
				>quality accounts and services</span
			>
		</h1>
		<h2
			class="tw-text-base tw-leading-5 md:tw-text-lg md:tw-leading-[22px] tw-mt-5 tw-max-w-[480px]"
		>
			Our team has been helping clients increase their profit without spending time on consumables
			for over 3 years.
		</h2>

		<div class="tw-flex tw-gap-3 tw-mt-7">
			<button class="tw-text-lg" mat-button>
				<mat-icon svgIcon="discord"></mat-icon>Join Discord
			</button>
		</div>
	</div>
</section>
