<div class="card">
	<h3>Contact us for getting accounts</h3>
	<div class="tw-flex tw-gap-5 tw-justify-center">
		<a
			href="https://discord.gg/qmarket"
			target="_blank"
			rel="noopener"
			class="qm-button"
			aria-label="discord server"
			matRipple
			matRippleColor="#654e7140"
		>
			<mat-icon svgIcon="discord" />
		</a>
		<a
			href="https://twitter.com/QMarket_"
			target="_blank"
			rel="noopener"
			class="qm-button"
			aria-label="twitter"
			matRipple
			matRippleColor="#654e7140"
		>
			<mat-icon svgIcon="twitter" />
		</a>
		<a
			href="https://t.me/Moverwhale"
			target="_blank"
			rel="noopener"
			class="qm-button"
			aria-label="telegram"
			matRipple
			matRippleColor="#654e7140"
		>
			<mat-icon svgIcon="telegram" />
		</a>
	</div>
</div>
