app-header {
	rect {
		color: #b12eff !important;
		fill: #b12eff !important;
	}

	li {
		color: #ebebeb;
		text-decoration: none;

		&:hover {
			color: #b12eff;
		}
	}

	li.active {
		color: #b12eff;
	}

	.menu-icon {
		@apply tw-absolute tw-top-0 tw-left-0 -tw-translate-x-full -tw-translate-y-1/2;
	}
}
