<nav>
	<div class="nav-container">
		<img ngSrc="assets/logo.webp" alt="q-market" height="40" width="222" priority />
		<div class="tw-hidden md:tw-w-fit md:tw-block tw-text-white" appHighlightMenuItem>
			<ul class="menu" role="menu">
				<li
					*ngFor="let item of navItems"
					[attr.data-section-id]="item.toLowerCase()"
					class="menu-item tw-px-5 tw-py-3 tw-cursor-pointer tw-text-center"
					(click)="scrollTo(item)"
				>
					{{ item }}
				</li>
			</ul>
		</div>

		<button class="tw-relative tw-h-10 tw-w-10 md:tw-hidden">
			<mat-icon
				[class.menu-icon_hidden]="!isMenuOpen"
				class="menu-icon"
				svgIcon="close"
				(click)="toggleMenu()"
			/>

			<mat-icon
				[class.menu-icon_hidden]="isMenuOpen"
				class="menu-icon tw-scale-75"
				svgIcon="burger"
				(click)="toggleMenu()"
			/>
		</button>
	</div>
</nav>

@if (isMenuOpen) {
	<div class="mob-menu-wrapper" (click)="toggleMenu()">
		<ul class="menu tw-py-10" role="menu">
			<li
				*ngFor="let item of navItems"
				[attr.data-section-id]="item"
				class="tw-px-5 tw-py-3 tw-cursor-pointer tw-text-center"
				(click)="scrollTo(item)"
			>
				{{ item }}
			</li>
		</ul>
	</div>
}
<!-- -->
