<header class="header">
	<h2 class="header__title">Cart</h2>
	<button aria-label="Close modal" mat-dialog-close class="header__btn">
		<mat-icon class="tw-cursor-pointer" svgIcon="close" />
	</button>
</header>

<main [class.checkout-out-site]="checkoutType === CheckoutTypes.OUT_SITE">
	<ul class="products">
		@for (product of basket().products; track $index) {
			<li>
				<qm-basket-product
					[product]="product"
					(setTitleWidth)="onSetTitleWidth($event)"
					[titleWidth]="productsTitleWidth() + 'px'"
				/>
			</li>
			@if ($index !== $count - 1) {
				<li aria-hidden="true">
					<span class="divider"></span>
				</li>
			}
		}
	</ul>

	@if (checkoutType === CheckoutTypes.OUT_SITE) {
		<qm-basket-payment />
	} @else {
		<qm-basket-checkout />
	}
</main>
