@use '@angular/material' as mat;
@include mat.core();

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Questrial', sans-serif !important;
}

body {
	background-color: #0b0d0e;
}

.libre-franklin {
	font-family: 'Libre Franklin', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

* {
	font-family: 'Questrial', sans-serif;
}

@import 'shared/scss/reset';
@import 'shared/scss/theme';
@import 'shared/scss/scrollbar';
@import 'shared/scss/radio';

button {
	@apply tw-p-0 #{!important};
}

.qm-button {
	@apply tw-h-10 tw-p-0 tw-flex tw-content-center tw-items-center tw-justify-center;
	@apply tw-rounded-[5px] tw-border tw-border-second tw-border-solid;
	@apply tw-text-white tw-text-lg tw-leading-[19px] tw-font-normal;
	@apply hover:tw-bg-second/20 tw-gap-2;
	letter-spacing: 1px;
	transition: 0.2s;
}

.qm-block {
	@apply tw-grid md:tw-gap-10 tw-gap-5;

	&_margined {
		@apply tw-px-5;
	}

	&__title {
		@apply tw-text-white tw-text-2xl tw-leading-6 md:tw-text-[32px] md:tw-leading-[32px] tw-text-center tw-font-normal;
	}
	&__content {
		@apply tw-max-w-[840px] tw-w-full;
	}
}
