<app-header />
<main class="tw-relative">
	<img
		src="/assets/images/background.webp"
		alt=""
		aria-hidden="true"
		class="bg tw-hidden md:tw-block"
	/>

	<img
		src="/assets/images/bg-mobile.webp"
		alt=""
		aria-hidden="true"
		class="bg tw-block md:tw-hidden"
	/>

	<app-about class="section" id="home" />

	<qm-benefits class="section tw-mt-5" id="benefits" />

	<app-card-list class="section" id="pricing" />

	<app-feedback class="section" id="feedback" />

	<app-faq class="section" id="faq" />
</main>

<app-footer id="contacts" class="section" />
