<div class="header">
	<h2 class="header__title">Purchase</h2>
	<button aria-label="Close modal" mat-dialog-close class="header__btn">
		<mat-icon class="tw-cursor-pointer" svgIcon="close" />
	</button>
</div>

<div class="product">
	<div class="product__main">
		<img
			[ngSrc]="'assets/products/' + data.logo"
			width="53"
			height="53"
			priority
			alt=""
			aria-hidden="true"
		/>
		<div class="tw-flex tw-flex-col tw-gap-[5px]">
			<h3 class="product__title">{{ data.name | uppercase }}</h3>
			<p class="product__subtitle libre-franklin">
				{{ data.details | uppercase }}
			</p>
		</div>
	</div>

	<p class="price">
		<span class="price__amount">
			{{ data.price }}
		</span>
		<span class="price__per"> /{{ data.per }} </span>
	</p>
</div>

<div class="contact-opts">
	<a
		class="card product-card"
		id="discord-card"
		href="https://discord.gg/qmarket"
		target="_blank"
		rel="noopener"
		aria-label="invite to discord server"
	>
		<div class="product-card__main" id="discord">
			<mat-icon svgIcon="discord" />
			<div class="product-card__title-container">
				<h4 class="product-card__title">Discord</h4>
				<p class="libre-franklin product-card__subtitle">Join the server to buy the product</p>
			</div>
		</div>

		<button
			class="qm-button product-card__btn"
			color="primary"
			type="button"
			aria-label="Buy via discord server"
		>
			<mat-icon svgIcon="arrow" />
		</button>
	</a>

	<div class="card">
		<div class="product-card tw-cursor-pointer" (click)="togglePanelState()">
			<div class="product-card__main">
				<mat-icon svgIcon="mail" />
				<div class="product-card__title-container">
					<h4 class="product-card__title">Leave a Request</h4>
					<p class="product-card__subtitle">We will contact you!</p>
				</div>
			</div>

			<button
				class="qm-button product-card__btn expand-btn"
				type="button"
				aria-label="Expand purchase form"
			>
				<mat-icon
					svgIcon="plus"
					[ngClass]="panelState === PanelStates.COLLAPSED ? 'visible' : 'hidden'"
				/>
				<mat-icon
					svgIcon="minus"
					[ngClass]="panelState === PanelStates.EXPANDED ? 'visible' : 'hidden'"
				/>
			</button>
		</div>

		<form [formGroup]="form" (ngSubmit)="onSubmit()" [@panel]="panelState">
			<div class="tw-grid md:tw-grid-cols-[1fr_1fr] tw-gap-[15px]">
				<div class="form-control-container">
					<label class="libre-franklin" for="contact">Contact</label>
					<input
						type="text"
						class="form-control"
						id="contact"
						autocomplete="off"
						placeholder="Messanger / E-mail"
						formControlName="contact"
					/>
				</div>

				<div class="form-control-container">
					<label class="libre-franklin" for="accountsCount">Quantity</label>

					<input
						type="number"
						class="form-control"
						id="accountsCount"
						autocomplete="off"
						placeholder="Number of accounts"
						formControlName="accountsCount"
						required
					/>
				</div>
			</div>

			<div class="form-control-container">
				<p class="libre-franklin">Payment method</p>

				<div class="tw-flex-col md:tw-flex-row tw-flex tw-gap-2.5">
					<label class="form-control tw-cursor-pointer">
						<input type="radio" value="bank" formControlName="payment" />
						<span class="radio-label">
							<mat-icon svgIcon="card" />
							Bank transfer
						</span>
					</label>
					<label class="form-control tw-cursor-pointer">
						<input type="radio" value="crypto" formControlName="payment" />
						<span class="radio-label">
							<mat-icon svgIcon="crypto" />
							Crypto
						</span>
					</label>
				</div>
			</div>
			<button
				class="tw-w-full qm-button tw-mt-[15px] disabled:tw-opacity-60"
				[disabled]="(formState$ | async) === FormStates.LOADING"
			>
				@switch (formState$ | async) {
					@case (FormStates.DEFAULT) {
						Send
					}
					@case (FormStates.LOADING) {
						Sending...
					}
					@case (FormStates.SUCCESS) {
						Successful
					}
					@case (FormStates.FAILED) {
						Failed. Try again
					}
				}
			</button>
		</form>
	</div>
</div>
