<div
	class="tw-bg-modal-img tw-px-5 tw-py-6 tw-flex tw-justify-between tw-border-0 tw-border-solid tw-border-b tw-border-b-border-second"
>
	<h2 class="tw-m-0 tw-text-second tw-text-2xl md:tw-text-3xl">Purchase</h2>
	<mat-icon class="tw-cursor-pointer" svgIcon="close" (click)="close()"></mat-icon>
</div>

<div class="tw-flex tw-gap-4 tw-justify-between tw-items-center tw-text-text tw-p-5">
	<div class="tw-flex tw-gap-4 tw-justify-start tw-items-center">
		<img [src]="'assets/images/' + data.logo" alt="logo" />
		<div>
			<h2 class="tw-text-xl md:tw-text-2xl">{{ data.name | uppercase }}</h2>
			<h3
				class="tw-text-sm md:tw-text-base tw-text-second tw-bg-[#B12EFF1A] tw-px-2 tw-py-1 tw-w-fit tw-rounded"
			>
				{{ data.details | uppercase }}
			</h3>
		</div>
	</div>

	<div class="tw-flex tw-flex-col md:tw-flex-row">
		<span class="tw-text-xl tw-leading-5 md:tw-leading-6 md:tw-text-3xl tw-mr-1">{{
			data.price
		}}</span>
		<span class="tw-text-base tw-leading-4 tw-opacity-30">/{{ data.period }}</span>
	</div>
</div>

<div class="tw-m-5 tw-p-5 card tw-flex tw-flex-col md:tw-flex-row tw-gap-5 tw-items-center">
	<div class="tw-flex tw-items-center tw-gap-5 tw-self-start">
		<mat-icon svgIcon="discord"></mat-icon>
		<div class="tw-flex tw-flex-col tw-gap-2">
			<div class="tw-text-xl md:tw-text-2xl tw-leading-6">Discord</div>
			<div class="tw-text-sm md:tw-text-base tw-leading-4 tw-text-second">
				Join the server to buy the product
			</div>
		</div>
	</div>

	<button class="tw-ml-auto tw-w-full md:tw-hidden" mat-button color="primary">
		<mat-icon svgIcon="arrow"></mat-icon>
	</button>

	<button class="tw-hidden md:tw-block tw-ml-auto tw-w-full" mat-mini-fab color="primary">
		<mat-icon svgIcon="arrow"></mat-icon>
	</button>
</div>

<div class="tw-flex tw-gap-5 tw-items-center tw-opacity-50 tw-px-5">
	<div class="tw-w-full tw-border-0 tw-border-solid tw-border-b tw-border-b-second"></div>
	<span class="tw-text-lg tw-text-second">OR</span>
	<div class="tw-w-full tw-border-0 tw-border-solid tw-border-b tw-border-b-second"></div>
</div>

<div class="tw-m-5 tw-p-5 card tw-flex tw-flex-col tw-gap-5 tw-items-start">
	<div class="tw-flex tw-gap-5 tw-items-center">
		<mat-icon svgIcon="mail"></mat-icon>
		<div class="tw-flex tw-flex-col tw-gap-2">
			<div class="tw-text-xl md:tw-text-2xl tw-leading-6">Leave a Request</div>
			<div class="tw-text-sm md:tw-text-base tw-leading-4 tw-text-second">We will contact you!</div>
		</div>
	</div>

	<form class="tw-w-full tw-flex tw-flex-col tw-gap-2.5" #myForm="ngForm">
		<div class="tw-text-base">Contact</div>

		<div class="form-group">
			<input
				type="text"
				class="form-control"
				id="messenger"
				name="messenger"
				placeholder="Messenger / E-mail"
				[(ngModel)]="formData.messenger"
				required
			/>
		</div>

		<div class="tw-text-base">Quantity</div>

		<div class="form-group">
			<input
				type="number"
				class="form-control"
				id="numAccounts"
				name="numAccounts"
				placeholder="Number of accounts"
				[(ngModel)]="formData.numAccounts"
				required
			/>
		</div>

		<div class="tw-text-base">Payment method</div>

		<div class="form-group tw-flex-col md:tw-flex-row tw-flex tw-gap-2.5">
			<label class="form-control">
				<input
					type="checkbox"
					name="bankTransfer"
					[(ngModel)]="formData.paymentMethod.bankTransfer"
				/>
				<span class="tw-flex tw-items-center tw-gap-3"
					><mat-icon svgIcon="card"></mat-icon>Bank transfer</span
				>
			</label>
			<label class="form-control">
				<input type="checkbox" name="crypto" [(ngModel)]="formData.paymentMethod.crypto" />
				<span class="tw-flex tw-items-center tw-gap-3"
					><mat-icon svgIcon="crypto"></mat-icon>Crypto</span
				>
			</label>
			<!-- <label class="custom-checkbox">
				<span>One</span>
				<input
					type="checkbox"
					checked="checked"
					name="crypto"
					[(ngModel)]="formData.paymentMethod.crypto"
				/>
				<span class="checkmark"></span>
			</label> -->
			<!-- <div class="custom-checkbox">
				<input
					type="checkbox"
					id="crypto"
					name="crypto"
					[(ngModel)]="formData.paymentMethod.crypto"
				/>
				<label for="crypto">Crypto</label>
			</div> -->
		</div>
	</form>

	<button class="tw-w-full tw-text-lg" mat-button>Send</button>
</div>
<div></div>
