<section class="qm-block">
	<h2 class="qm-block__title">Feedback</h2>

	<div class="feedback" horizontalScroll>
		<div class="feedback__row">
			@for (item of FIRST_ROW_FEEDBACKS; track item.name; let i = $index) {
				<app-feedback-item [ngClass]="{ 'tw-ml-40': i === 0 }" class="tw-min-w-fit" [item]="item" />
			}
		</div>
		<div class="feedback__row tw-mt-5">
			@for (item of SECOND_ROW_FEEDBACKS; track item.name; let i = $index) {
				<app-feedback-item class="tw-min-w-fit" [item]="item" />
			}
		</div>
	</div>
</section>
